.header_top{
    padding: 0;
    background: black;
    height: 40px;
    color: white;
    display: flex;
    // font-size: 16px;
    .header_top-items{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include breakpoint(desktop){
            display: none;
        }
        ul{ 
            padding: 0; 
            height: 40px;  
            margin: 0;
            li{
                list-style: none;
                height: 40px;
                position: relative;
                display: flex;
                align-items: center;
                span{
                    margin: 0 5px;
                }
                a{
                    text-decoration: none;
                    color: white;
                    display: inline-block;
                    span{
                        line-height: 40px;
                        margin: 0 3px;
                    }
                }
                a:hover{
                    color: rgb(255, 155, 155);
                }
                .hi-customer{
                    display: none;
                }
            }
        }
    }
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/assets/images/quan-ao-thoi-trang-nam-routine-min.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    @include breakpoint(tablet){
        height: 80vh;
        // background: white;
        box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    }
    .header_main{
        display: flex;
        padding: 20px 0;
        a{
            text-decoration: none;
            color: white;
            // @include breakpoint(tablet){
            //     color: black;
            // }
        }
        ul{
            padding: 0;
            display: flex;
            height: 100%;
            li{
                list-style: none;
                align-items: center;
                a{
                    font-weight: 700;
                }
            }
        }
        .header_main-logo{
            width: 40%;
            
            @include breakpoint(tablet){
                width: 60%;
                display: flex;
            }
            a{
                font-size: 45px;
                letter-spacing: 10px;
                font-weight: 700;
                @include breakpoint(desktop){
                    font-size: 30px;
                }
                @include breakpoint(tablet){
                    font-size: 30px;
                }
            }
        }
        .header_main-navbar{
            width: 40%;
            @include breakpoint(desktop){
                width: 60%;
                font-size: 14px;
            }
            @include breakpoint(tablet){
                display: none;
            }
            ul{
                align-items: center;
                li{
                    margin: 0 30px;
                    a{
                        font-size: 20px;
                    }
                    @include breakpoint(desktop){
                        margin: 0 10px;
                    }
                }
                .dropmenu{
                    position: relative;
                    cursor: pointer;
                    i{
                        transition: all .5s;
                        color: white;
                    }
                    .sub-menu{
                        background: white;
                        position: absolute;
                        top: 25px;
                        z-index: 10;
                        left: 0;
                        min-width: 150px;
                        min-height: 200px;
                        box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
                        visibility: hidden;
                        opacity: 0;
                        transition: all 0.5s;
                        li{
                            margin: 0;
                            padding: 0 15px;
                            a{
                                display: block;
                                color: black;
                                padding: 5px 0;
                                transition: all 0.3s;
                                font-size: 16px;
                            }
                            a:hover{
                                color: red;
                            }
                        }
                    }
                }
                .dropmenu:hover .sub-menu{
                    visibility: visible;
                    opacity: 1;
                }
                .dropmenu:hover i{
                    transform: rotate(180deg);
                }
            }
        }
        .header_main-cart{
            width: 20%;
            @include breakpoint(tablet){
                width: 20%;
                display: flex;
            }
            ul{
                align-items: center;
                justify-content: flex-end;
                li{
                    margin: 0 10px;
                    i{
                        font-size: 25px;
                        @include breakpoint(tablet){
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .hamburger{
            align-items: center;
            display: none;
            @include breakpoint(tablet){
                display: flex;
                width: 20%;
            }
            a{
                @include breakpoint(tablet){
                    margin: 0;
                }
                i{
                    font-size: 35px;
                }
            }
        }
    }
}
.slogan{
    color: white;
    border: 8px solid white;
    position: absolute;
    min-width: 400px;
    min-height: 500px;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    text-align: center;
    padding: 10px 0;
    @include breakpoint(tablet){
        min-width: 250px;
        min-height: 300px;
        border: 5px solid white;
        padding: 20px ;
    }
    @include breakpoint(phone){
        border: 3px solid white;
        padding: 10px;
        min-width: 250px;
    }
    p{
        font-size: 25px;
        @include breakpoint(tablet){
            font-size: 18px;
        }
        @include breakpoint(phone){
            font-size: 16px;
        }
    }
    h3{
        font-size: 80px;
        margin: 10px 0;
        @include breakpoint(tablet){
            font-size: 35px;
        }
    }
    i{
        margin: 10px 0;
    }
}
.login-area{
    box-shadow: 0px 0px 10px -5px #818181;
    background: white;
    min-width: 400px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    z-index: 101;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: all .5s;
    @include breakpoint(tablet){
        width: 100vw;
    }
    h3{
        font-size: 25px;
        margin-bottom: 30px;
    }
    form{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 80%;
        div.pass-area{
            margin: 0;
            position: relative;
            i{
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }
        }
        input{
            padding: 6px 12px;
            width: 100%;
            margin: 5px 0;
            outline: none;
            border: 1px solid #ced4da;
            border-radius: 5px;
            height: 55px;
            font-size: 16px;
        }
        button{
            height: 55px;
            width: 100%;
            background: black;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
            margin-bottom: 30px;
            border-radius: 5px;
            margin-top: 10px;
        }
    }
    
    span{
        position: absolute;
        cursor: pointer;
        top: 20px;
        right: 20px;
        i{
            font-size: 30px;
            transition: all 0.3s;
        }
        i:hover{
            color: red;
        }
    }    
}
.register-area{
    box-shadow: 0px 0px 10px -5px #818181;
    background: white;
    min-width: 400px;
    min-height: 100vh;
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: all .5s;
    @include breakpoint(tablet){
        width: 100vw;
    }
    h3{
        font-size: 25px;
        margin-bottom: 30px;
    }
    form{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 80%;
        div.pass-area{
            margin: 0;
            position: relative;
            i{
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }
        }
        input{
            padding: 6px 12px;
            width: 100%;
            margin: 5px 0;
            outline: none;
            border: 1px solid #ced4da;
            border-radius: 5px;
            height: 55px;
            font-size: 16px;
        }
        
        button{
            height: 55px;
            width: 100%;
            background: black;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
            margin-bottom: 30px;
            border-radius: 5px;
            margin-top: 10px;
        }
    }
    
    span{
        position: absolute;
        cursor: pointer;
        top: 20px;
        right: 20px;
        i{
            font-size: 30px;
            transition: all 0.3s;
        }
        i:hover{
            color: red;
        }
    }    
}
.searchTop-area{
    width: 100vw;
    height: 100%;
    position: fixed;
    z-index: 105;
    top: 0;
    background: rgba(0,0,0,0);
    transform: translateY(-100%); 
    transition: all 0.5s;
    .searchTop{
        width: 100vw;
        background: white;
        min-height: 150px;
        display: flex;
        align-items: center; 
        box-shadow: 0 10px 20px rgba(0,0,0,0.15);
        .input-width-btn{
            position: relative;
            width: 50%;
            .form-control{
                border-radius: 40px;
                width: 100%;
                font-size: 20px;
                padding: 20px;
                outline: none;
                border: 1px solid #ced4da;
                @include breakpoint(tablet){
                    padding: 10px 15px;
                    font-size: 16px;
                }
            }
            button{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                border: none;
                background: white;
                i{
                    font-size: 18px;
                    cursor: pointer;
                }  
            }
        }
    }
}

//Menu mobile
.menu-mobile-area{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
    transform: translateX(-100%);
    transition: all 0.5s;
    .menu-mobile{
        overflow-x: scroll;
        width: 80%;
        height: 100vh;
        left: 0;
        background: white;
        position: absolute;
        h3{
            text-align: center;
            padding: 20px;
        }
        ul{
            padding: 0;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    padding: 12px 20px;
                    display: block;
                    position: relative;
                    color: black;
                    border-bottom: 1px solid #f5f5f5;
                    transition: all 0.3s;
                    i.icon-change{
                        width: 10%;
                        position: absolute;
                        right: 0;
                    }
                }
                a:hover{
                    color: red;
                }
            }
        }
        .dropmenu-mobile{
            ul.sub-menu-mobile{
                display: none;
                li{
                    padding-left: 20px;
                    a{
                        font-size: 14px;
                        i{
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
        a.login{
            text-decoration: none;
            color: black;
            margin-top: 150px;
        }
    }
}

//banner collection page
.banner-collection{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/assets/images/bst-tai-sinh-05-min.jpg);
}
//banner product page
.banner-product{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/assets/images/bia-1920-600-Thi-247-copyx0x0x2.webp);
}

    