main{
    width: 100%;
//carousel all
//index page
//section1
    .highlight-cate{
       padding: 50px 0;
       @include breakpoint(tablet){
        padding: 30px 0;
        }
       .category-area{
            display: flex;
            min-height: 70vh;
            width: 98%;
            gap: 5px;
            @include breakpoint(tablet){
                flex-wrap: wrap;
            }
            .name-cate{
                position: absolute;
                h3{
                    color: white;
                    padding-bottom: 5px;
                    font-size: 28px;
                    text-align: center;
                    @include breakpoint(desktop){
                        font-size: 20px;
                    }
                    @include breakpoint(tablet){
                        font-size: 14px;
                    }
                }
                hr{
                    height: 3px;
                    background-color: white;
                    width: 100%;
                    margin-left: 0;
                    border: none;
                    @include breakpoint(tablet){
                        width: 50%;
                        margin: auto;
                    }
                }
                p{
                    color: white;
                    padding-top: 5px;
                    @include breakpoint(tablet){
                        font-size: 10px;
                    }
                }
            }
            .left{
                width: 25%;
                overflow: hidden;
                margin-right: 0;
                cursor: pointer;
                position: relative;
                .img-left{
                    background-image: url(../images/Ao-blazer-Aristino-danh-m-c-n-i-b-t-1x500x500x4.webp);
                    background-size: cover;
                    background-position: center;
                    transition: all 0.5s; 
                    height: 100%;
                }
                .img-left::before{
                    content: "";
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(52, 73, 94, 0.589);
                }  
                .name-cate{
                    right: 10%;
                    bottom: 10%;
                }
                @include breakpoint(tablet){
                    width: 50%;
                }
            }
            .left:hover .img-left,
            .left:focus .img-left{
                transform: scale(1.1);
            }    
            .center-1{
                width: 25%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                @include breakpoint(tablet){
                    width: 45%;
                    order: 1;
                }
                .top{
                    width: 100%;
                    height: 100%; 
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    .img-top{
                        width: 100%;
                        background-image: url(../images/Ao-polo-Aristino-danh-m-c-n-i-b-t-2x500x500x4.webp);
                        background-size: cover;
                        background-position: center;
                        height: 100%; 
                        transition: all 0.5s;
                    }
                    .img-top::before{
                        content: "";
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: rgba(52, 73, 94, 0.589);
                    }
                    .name-cate{
                        text-align: center;
                        right: 50%;
                        bottom: 50%;
                        transform: translate(50%,50%);
                    }
                }
                .top:hover .img-top,
                .top:focus .img-top
                {
                    transform: scale(1.1);
                }
                .bottom{
                    width: 100%;
                    height: 100%; 
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    .img-bottom{
                        width: 100%;
                        background-image: url(../images/Ao-so-mi-Aristino-danh-m-c-n-i-b-t-3x500x500x4.webp);
                        background-size: cover;
                        background-position: center;
                        height: 100%; 
                        transition: all 0.5s;
                    }
                    .img-bottom::before{
                        content: "";
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: rgba(52, 73, 94, 0.589);
                    }
                    .name-cate{
                        text-align: center;
                        right: 50%;
                        bottom: 50%;
                        transform: translate(50%,50%);
                    }
                }
                .bottom:hover .img-bottom,
                .bottom:focus .img-bottom
                {
                    transform: scale(1.1);
                }
            }
            .center-2{
                width: 25%;
                gap: 5px;
                display: flex;
                flex-direction: column;
                @include breakpoint(tablet){
                    width: 45%;
                }
                .top{
                    width: 100%;
                    height: 100%; 
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    .img-top{
                        width: 100%;
                        background-image: url(../images/Danh-m-c-n-i-b-t-2-Shortx500x500x4.webp);
                        background-size: cover;
                        background-position: center;
                        height: 100%; 
                        transition: all 0.5s;
                    }
                    .img-top::before{
                        content: "";
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: rgba(52, 73, 94, 0.589);
                    }
                    .name-cate{
                        text-align: center;
                        right: 50%;
                        bottom: 50%;
                        transform: translate(50%,50%);
                    }
                }
                .top:hover .img-top,
                .top:focus .img-top
                {
                    transform: scale(1.1);
                }
                .bottom{
                    width: 100%;
                    height: 100%; 
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    .img-bottom{
                        width: 100%;
                        background-image: url(../images/quan-jean-nam-aristino-AJN02401-06x500x500x4.webp);
                        background-size: cover;
                        background-position: center;
                        height: 100%; 
                        transition: all 0.5s;
                    }
                    .img-bottom::before{
                        content: "";
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: rgba(52, 73, 94, 0.589);
                    }
                    .name-cate{
                        text-align: center;
                        right: 50%;
                        bottom: 50%;
                        transform: translate(50%,50%);
                    }
                }
                .bottom:hover .img-bottom,
                .bottom:focus .img-bottom
                {
                    transform: scale(1.1);
                }
            }
            .right{
                width: 25%;
                overflow: hidden;
                margin-right: 0;
                cursor: pointer;
                position: relative;
                .img-right{
                    background-image: url(../images/Quan-au-nam-Aristino-2022x500x500x4.webp);
                    background-size: cover;
                    background-position: center;
                    transition: all 0.5s; 
                    height: 100%;
                }
                .img-right::before{
                    content: "";
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(52, 73, 94, 0.589);
                }
                @include breakpoint(tablet){
                    width: 50%;
                }
                .name-cate{
                    left: 10%;
                    bottom: 10%;
                }
            }
            .right:hover .img-right,
            .right:focus .img-right{
                transform: scale(1.1);
            }
       }
    }

//section2
    .promotion-products{
        padding: 50px 0;
        @include breakpoint(desktop){
            padding: 30px 0;
        }
        .heading{
            display: flex;
            align-items: center;
            justify-content: center;
            // width: 55%;
            h3{
                font-size: 30px;
                margin: 0 10px;
                text-align: center;
                @include breakpoint(desktop){
                    font-size: 25px;
                }
                @include breakpoint(phone){
                    font-size: 20px;
                }
            }
            .crossbar{
                height: 3px;
                min-width: 150px;
                background-color: black;
                @include breakpoint(tablet){
                    min-width: 80px;
                }
            }
            .crossbar-left{
                margin-right: 0;
            }
            .crossbar-right{
                margin-left: 0;
            }
        }
        .description{
            text-align: center;
            margin-top: 10px;
            font-weight: 500;
        }
        .cards-carousel{
            margin-top: 40px;
            // display: flex;
            position: relative;
            width: 100%;
            @include breakpoint(tablet){
                // flex-direction: column;
            }
            .card{
                cursor: pointer;
                // width: 25%;
                margin: 0 20px;
                position: relative;
                @include breakpoint(tablet){
                    
                }
                a{
                    position: relative;
                    display: block;
                    text-decoration: none;
                    color: black;
                    img{
                        width: 100%;
                        transition: all 0.5s;
                    }
                }
                a > img{
                    opacity: 1;
                }
                a > img + img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    visibility: hidden;
                }
                h4{
                    margin-top: 20px;
                    margin-bottom: 15px;
                    font-weight: 500;
                    @include breakpoint(desktop){
                        font-size: 16px;
                    }
                    
                }
                .price{
                    display: flex;
                    margin-bottom: 15px;
                    h3{
                        margin-left: 0;
                        @include breakpoint(desktop){
                            font-size: 14px;
                        }
                    }
                    h3+h3{
                        text-decoration: line-through;
                        margin-right: 0;
                    }
                }
                .vote{
                    i{
                        color: rgb(255, 184, 102);
                        @include breakpoint(phone){
                            
                        }
                    }
                }
                .sale-off{
                    background: #FF710A;
                    color: white;
                    position: absolute;
                    top: 0;
                    left: 10%;
                    padding: 40px 8px;
                }
            }
            .card:hover a>img{
                opacity: 0;
                visibility: hidden;
                transition: all 0.5s;
            }
            .card:hover a>img+img{
                opacity: 1;
                visibility: visible;
            }
        }
        .owl-carousel{
            .owl-nav{
                display: block!important;
                span{
                    display: none;
                }
                .owl-prev{
                    font-family: 'fontAwesome';                    
                }
                .owl-prev::before{
                    content: "\f053";
                    padding: 12px 15px;
                    background: rgba(0,0,0,0.1);
                    color: white;
                    border-radius: 50%;
                    position: absolute;
                    top: 35%;
                    left: 35px;
                }
                .owl-next{
                    font-family: 'fontAwesome';
                }
                .owl-next::after{
                    content: "\f054";
                    padding: 12px 15px;
                    background: rgba(0,0,0,0.1);
                    color: white;
                    color: white;
                    border-radius: 50%;
                    position: absolute;
                    top: 35%;
                    right: 35px;
                }
            }
        }
    }
//section3
    .feedback-area{
        background-image: url(../images/he-thong-cua-hang.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 80vh;
        padding: 50px 0;
        display: flex;
        align-items: center;
        .feedback-slide{
            cursor: pointer;
            height: 100%;
        }
        .image-customer{
            width: 125px;
            min-height: 125px;
            border-radius: 50%;
            border: 3px solid white;
            margin-bottom: 55px;
        }
        .image-customer-1{
            background-image: url(../images/563949f5-8c9f-4a52-a211-98ff8a6a10ed.jpg);
            background-size: cover;
            background-position: center;
        }
        .image-customer-2{
            background-image: url(../images/4b685938-a49b-4bcc-85af-ace1dbc57153.jpg);
            background-size: cover;
            background-position: center;
        }
        .image-customer-3{
            background-image: url(../images/7bd24190-ab82-4da4-b43a-97f789bb2a9f.jpg);
            background-size: cover;
            background-position: center;
        }
        .content-feedback{
            color: white;
            width: 50%;
            text-align: center;
            line-height: 1.6em;
            font-style: italic;
            margin-bottom: 70px;
            @include breakpoint(phone){
                font-size: 14px;
            }
        }
        .info-customer{
            color: white;
            width: 50%;
            text-align: center;
            font-weight: 300;
            margin-bottom: 30px;
        }
        hr{
            width: 10%;
            height: 3px;
            background: white;
        }
        .owl-carousel{
            .owl-nav{
                display: block!important;
                span{
                    display: none;
                }
                .owl-prev{
                    font-family: 'fontAwesome';                    
                }
                .owl-prev::before{
                    content: "\f053";
                    padding: 12px 15px;
                    border: 1px solid white;
                    color: white;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 35px;
                    @include breakpoint(phone){
                        left: 0;
                    }
                }
                .owl-next{
                    font-family: 'fontAwesome';
                }
                .owl-next::after{
                    content: "\f054";
                    padding: 12px 15px;
                    border: 1px solid white;
                    color: white;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 35px;
                    @include breakpoint(phone){
                        right: 0;
                    }
                }
            }
        }
    }
//section4
    .new-products{
        padding: 50px 0;
        @include breakpoint(desktop){
            padding: 30px 0;
        }
        .heading{
            display: flex;
            align-items: center;
            justify-content: center;
            // width: 55%;
            h3{
                font-size: 30px;
                margin: 0 10px;
                text-align: center;
                @include breakpoint(desktop){
                    font-size: 25px;
                }
                @include breakpoint(phone){
                    font-size: 20px;
                }
            }
            .crossbar{
                height: 3px;
                min-width: 150px;
                background-color: black;
                @include breakpoint(tablet){
                    min-width: 80px;
                }
            }
            .crossbar-left{
                margin-right: 0;
            }
            .crossbar-right{
                margin-left: 0;
            }
        }
        .description{
            text-align: center;
            margin-top: 10px;
            font-weight: 500;
        }
        .cards-carousel{
            margin-top: 40px;
            // display: flex;
            position: relative;
            width: 100%;
            @include breakpoint(tablet){
                // flex-direction: column;
            }
            .card{
                cursor: pointer;
                // width: 25%;
                margin: 0 20px;
                position: relative;
                @include breakpoint(tablet){
                    
                }
                a{
                    position: relative;
                    display: block;
                    text-decoration: none;
                    color: black;
                    img{
                        width: 100%;
                        transition: all 0.5s;
                    }
                }
                a > img{
                    opacity: 1;
                }
                a > img + img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    visibility: hidden;
                }
                h4{
                    margin-top: 20px;
                    margin-bottom: 15px;
                    font-weight: 500;
                    @include breakpoint(desktop){
                        font-size: 16px;
                    }
                    
                }
                .price{
                    display: flex;
                    margin-bottom: 15px;
                    h3{
                        margin-left: 0;
                        @include breakpoint(desktop){
                            font-size: 14px;
                        }
                    }
                    h3+h3{
                        text-decoration: line-through;
                        margin-right: 0;
                    }
                }
                .vote{
                    i{
                        color: rgb(255, 184, 102);
                        @include breakpoint(phone){
                            
                        }
                    }
                }
                .sale-off{
                    background: #FF710A;
                    color: white;
                    position: absolute;
                    top: 0;
                    left: 10%;
                    padding: 40px 8px;
                }
            }
            .card:hover a>img{
                opacity: 0;
                visibility: hidden;
                transition: all 0.5s;
            }
            .card:hover a>img+img{
                opacity: 1;
                visibility: visible;
            }
        }
        .owl-carousel{
            .owl-nav{
                display: block!important;
                span{
                    display: none;
                }
                .owl-prev{
                    font-family: 'fontAwesome';                    
                }
                .owl-prev::before{
                    content: "\f053";
                    padding: 12px 15px;
                    background: rgba(0,0,0,0.1);
                    color: white;
                    border-radius: 50%;
                    position: absolute;
                    top: 35%;
                    left: 35px;
                }
                .owl-next{
                    font-family: 'fontAwesome';
                }
                .owl-next::after{
                    content: "\f054";
                    padding: 12px 15px;
                    background: rgba(0,0,0,0.1);
                    color: white;
                    border-radius: 50%;
                    position: absolute;
                    top: 35%;
                    right: 35px;
                }
            }
        }
    }

//collection page
//section1
    .section-1{
        padding: 50px 0;
        @include breakpoint(tablet){
            padding: 30px 0;
        }
        .lookHot{      
            display: flex;
            .lookHot_head{
                width: 23%;
                background: #f4f4f4;
                padding: 4em;
                display: flex;
                flex-direction: column;
                text-align: left;
                justify-content: center;
                @include breakpoint(desktop){
                    width: 30%;
                    padding: 2em;
                }
                @include breakpoint(tablet){
                    padding: 1em;
                    width: 50%;
                }
                h3{
                    margin-bottom: 30px;
                    font-size: 24px;
                    margin-left: 0;
                    @include breakpoint(desktop){
                        font-size: 18px;
                        margin-bottom: 15px;
                    }
                    @include breakpoint(tablet){
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                }
                p{
                    margin-bottom: 30px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    @include breakpoint(tablet){
                        font-size: 14px;
                    }
                }
                a{
                    margin-left: 0;
                    color: black;
                    display: block;
                    @include breakpoint(tablet){
                        font-size: 14px;
                    }
                }
            }
            .lookHot_carousel{
                width: 77%;
                display: flex;
                height: 100%;
                @include breakpoint(desktop){
                    width: 70%;
                }
                @include breakpoint(tablet){
                    width: 50%;
                }
                a{
                    img{
                        width: 100%;
                    }
                }
            }
            .owl-carousel{
                .owl-nav{
                    display: block!important;
                    
                    span{
                        display: none;
                    }
                    .owl-prev{
                        font-family: 'fontAwesome';                    
                    }
                    .owl-prev::before{
                        content: "\f053";
                        padding: 12px 15px;
                        border: 1px solid white;
                        color: white;
                        transform: translateY(-50%);
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        left: 35px;
                        @include breakpoint(tablet){
                            left: 5px;
                        }
                        @include breakpoint(phone){
                            display: none;
                        }

                    }
                    .owl-next{
                        font-family: 'fontAwesome';
                    }
                    .owl-next::after{
                        content: "\f054";
                        padding: 12px 15px;
                        border: 1px solid white;
                        color: white;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 35px;
                        @include breakpoint(tablet){
                            right: 5px;
                        }
                        @include breakpoint(phone){
                            display: none;
                        }
                    }
                }
            }
        }
    }
//section2
    .section-2{
        padding: 50px 0;
        display: flex;
        width: 100%;
        height: 100vh;
        gap: 2px;
        @include breakpoint(tablet){
            padding: 30px 0;
            height: 70vh;
        }
        .img-left{
            width: 50%;
            background-image: url(../images/bst-tai-sinh-01x0x0x2.webp);
            background-position: center;
            background-size: cover;
            height: 100%;
        }
        .img-right{
            width: 50%;
            background-image: url(../images/bst-tai-sinh-02x0x0x2.webp);
            background-position: center;
            background-size: cover;
            height: 100%;
        }
    }
//section3
    .section-3{
        padding: 50px 0;
        @include breakpoint(tablet){
            padding: 30px 0;
        }
        .cards-carousel{
            margin-top: 40px;
            // display: flex;
            position: relative;
            width: 100%;
            @include breakpoint(tablet){
                // flex-direction: column;
            }
            .card{
                cursor: pointer;
                // width: 25%;
                margin: 0 20px;
                position: relative;
                @include breakpoint(tablet){
                    
                }
                a{
                    position: relative;
                    display: block;
                    text-decoration: none;
                    color: black;
                    img{
                        width: 100%;
                        transition: all 0.5s;
                    }
                }
                a > img{
                    opacity: 1;
                }
                a > img + img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    visibility: hidden;
                }
                h4{
                    margin-top: 20px;
                    margin-bottom: 15px;
                    font-weight: 500;
                    @include breakpoint(desktop){
                        font-size: 16px;
                    }
                    
                }
                .price{
                    display: flex;
                    margin-bottom: 15px;
                    h3{
                        margin-left: 0;
                        @include breakpoint(desktop){
                            font-size: 14px;
                        }
                    }
                    h3+h3{
                        text-decoration: line-through;
                        margin-right: 0;
                    }
                }
                .vote{
                    i{
                        color: rgb(255, 184, 102);
                        @include breakpoint(phone){
                            
                        }
                    }
                }
                .sale-off{
                    background: #FF710A;
                    color: white;
                    position: absolute;
                    top: 0;
                    left: 10%;
                    padding: 40px 8px;
                }
            }
            .card:hover a>img{
                opacity: 0;
                visibility: hidden;
                transition: all 0.5s;
            }
            .card:hover a>img+img{
                opacity: 1;
                visibility: visible;
            }
        }
        .owl-carousel{
            .owl-nav{
                display: block!important;
                span{
                    display: none;
                }
                .owl-prev{
                    font-family: 'fontAwesome';                    
                }
                .owl-prev::before{
                    content: "\f053";
                    padding: 12px 15px;
                    background: rgba(0,0,0,0.1);
                    color: white;
                    border-radius: 50%;
                    position: absolute;
                    top: 35%;
                    left: 35px;
                }
                .owl-next{
                    font-family: 'fontAwesome';
                }
                .owl-next::after{
                    content: "\f054";
                    padding: 12px 15px;
                    background: rgba(0,0,0,0.1);
                    color: white;
                    color: white;
                    border-radius: 50%;
                    position: absolute;
                    top: 35%;
                    right: 35px;
                }
            }
        }
    }
//section4
    .section-4{
        padding: 50px 0;
        @include breakpoint(tablet){
            padding: 30px 0;
        }
        .img-content{
            background-image: url(../images/bst-tai-sinh-min.jpg);
            background-position: center;
            background-size: cover;
            height: 70vh;
            margin-bottom: 30px;
            @include breakpoint(tablet){
                height: 50vh;
            }
        }
        .content{
            width: 90%;
            text-align: center;
            h3{
                margin-bottom: 30px;
                font-size: 24px;
                @include breakpoint(tablet){
                    font-size: 18px;
                    margin-bottom: 15px;
                }
            }
            p{
                @include breakpoint(tablet){
                    font-size: 14px;
                    text-align: justify;
                }
            }
        }
    }
}

