main{
    background: red;
    width: 100%;
    .highlight-cate{
        padding: 50px 0;
        width: 55%;
        @include breakpoint(tablet){
            width: 90%;
        }
        .grid{
            display: grid;
            grid-gap: 25px;
            grid-template-areas: 
            "aa bb dd"
            "aa cc dd";
            @include breakpoint(tablet){
                grid-template-areas: 
                "aa dd"
                "bb cc"
                ;
                grid-gap: 10px;
            }
            img{
                width: 100%;
                height: 100%;
            }
            .item1{
                grid-area: aa;
                a{
                    position: relative;
                    .info-item1{
                        position: absolute;
                        bottom: 20px;
                        right: 0;
                        background: rgba(0, 0, 0, 0.5);
                        padding: 20px;
                        h3{
                            font-size: 30px;
                            color: white;
                        }
                        p{
                            color: white;
                        }
                    }
                }
            }
            .item2{
                grid-area: bb;
                a{
                    position: relative;
                    .info-item2{
                        position: absolute;
                        bottom: 20px;
                        right: 0;
                        background: rgba(0, 0, 0, 0.5);
                        padding: 20px;
                        h3{
                            font-size: 30px;
                            color: white;
                        }
                        p{
                            color: white;
                        }
                    }
                }
            }
            .item3{
                grid-area: cc;
            }
            .item4{
                grid-area: dd;
            }
        }
    }
}
